.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper__header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__items {
  margin-right: 82px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.header__items:last-child {
  margin-right: 0;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: .75;
}

.intro {
  padding-top: 220px;
  min-height: 100vh;
  background: url("../img/village.png") no-repeat center;
  background-size: cover;
}

.intro__title {
  max-width: 619px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.intro__subtitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 546px;
  padding-bottom: 50px;
}

.search__form__info {
  display: flex;
  flex-wrap: wrap;
}

.search__form__field {
  width: 297px;
  background: transparent url("../img/Oval.svg") no-repeat;
  background-size: 20px;
  border: 0;
  margin-right: 60px;
  border-bottom: 2px solid #BFC0C5;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.search__form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.search__form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background: #1B7DFF;
  border: 0;
}

.search__form__submit:hover, .search__form__submit:focus, .search__form__submit:active {

}
