.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}

.places__view__all {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
}

.places__view__all svg{
  margin-left: 20px;
}

.places__view__all:hover, .places__view__all:focus, .places__view__all:active {
  opacity: 0.75;
}