.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
  color: #102746;
}

.tour__desc {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}

.tour__more {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
}

.tour__more svg {
  margin-left: 20px;
}

.tour__more:hover, .tour__more:focus {
  opacity: .65;
}

.tour__info{
  padding-left: 47px;
}